*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

    .avatar-info{
        width: 45%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1.5rem 0rem;

        .address{
            color: gray;
            font-size: .8rem;
        }

        img{
            border-radius: 10px;
            height: 70px;
            width: 70px;
            margin: 1rem auto;
        }
        .statics{
            padding: 1rem;
            display: flex;
            justify-content: space-evenly;

            div{
                background: rgba(148, 148, 148, 0.555);
                padding: .5rem 1rem;
                border-radius: 10px;
                box-shadow: 1px 1px 1px 0px rgba(95,94,94,0.5);

                .stat{
                    font-size: .8rem;
                    opacity: .5;
                }
            }
        }
    }

    .image-grid{
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-auto-flow: dense;
        grid-gap: .8rem;

        .horizontal{
            grid-column: span 2;
        }
        .vertical{
            grid-row: span 2;
        }
        
        div{
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.5);
            }
        }
    }
}

@media(max-width:1000px){
    .container{
        width: 80%;
        
        .avatar-info{
            width: 60%;
        }
        
        .image-grid{
            width: 80%;
        }
    }
}

@media (max-width:680px) {
    html{
        font-size: 14px;
    }
    
    .container{
        width:90%;
    
        .avatar-info{
            width: 90%;
            .statics{
                width: 100%;
            }
        }
    
        .image-grid{
            width: 90%;
        }
    }
}
